/*  your css code here. If applicable */

.hero{
	width:200px;
	height:150px;
	object-fit: cover;
	display:flex;
}

img{
	object-fit:cover;
}


button{
	padding:20px;
	background-color:pink;
	color:green;
	border-radius:1px solid black;
	
}